<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/index.css">
  <title>Document</title>
</head>
<body>
  <h3>第一章:核心概览</h3>
  <div id="app1">
    {{message}}
  </div>
  <div id="app2">
    <div v-bind:title="message">
      v-bind使用--悬停查看信息
    </div>
  </div>
  <div id="app3">
    <p v-if="seen">Can you see me?</p>
  </div>
  <div id="app4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <div id="app5">
    <p>{{ message }}</p>
    <button @click="reverse">逆转!</button>
  </div>
  <div id="app6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  <div id="app7">
    <ol>
      <todo-item></todo-item>
      <todo-item></todo-item>
      <todo-item></todo-item>
      <todo-item></todo-item>
    </ol>
  </div>
  <div id='app8'>
    <ol>
      <shopping-item
        v-for="item in shoppingList"
        v-bind:todo="item"
        v-bind:key="item.id">
      </shopping-item>
    </ol>
  </div>
  <h3>第二章:Vue实例</h3>
  <div id="app9">
    {{ message }}
    <button @click="changeVal">change</button>
  </div>
  <div id="app10">
    {{ message }}
    <button @click="reverseMessage">reverse!</button>
  </div>
  <h3>第三章:模板语法</h3>
  <div id="app11">
    <div v-html="rawHtml"></div>
  </div>
  <div id="app12">
    <div :style="{color: textColor}">{{ message }}</div>
  </div>
  <div id="app13">
    {{ ok ? 'Yes' : 'no' }}
  </div>
  <div id="app14">
    {{ message | lowerCase }}
    <div :id="rawId | formatId"></div>
  </div>
  <h3>第四章:计算属性</h3>
  <div id="app15">
    <p>this is origin message: {{ message }}</p>
    <p>this is computed message: {{ computedMessage }}</p>
    <p>this is methods same as computed: {{ methodMessage() }}</p>
    <p>computed vs methods computed Date: {{ computedDate }}</p>
    <p>computed vs methods method Date: {{ methodDate() }}</p>
    <button @click="reverseMessage">reverse!</button>
  </div>
  <div id="app16">
    <p>watch vs computed: watch {{ fullname }}</p>
    <p>watch vs computed: computed {{ computedFullname }}</p>
    <button @click="reverseFirstName">change first name</button>
    <button @click="reverseLastName">change last name</button>
  </div>
  <div id="app17">
    <p>FirstName: {{ firstName }}</p>
    <p>LastName: {{ lastName }}</p>
    <p>FullName: {{ fullName }}</p>
    <button @click='reverseFirstName'>reverse first name</button>
    <button @click='reverseLastName'>reverse last name</button>
    <button @click='reverseFullName'>reverse full name</button>
  </div>
  <div id="app18">
    Ask me a question please.
    <input v-model="question">
    <p>{{ answer }}</p>
  </div>
  <h3>第五章:Class与Style绑定</h3>
  <div id="app19">
    <div :class="{primaryColor: isPrimaryColor, boldFont: isBold}">A</div>
    <div :class="classObject">B</div>
    <div :class="[primaryColor, boldFont]">C</div>
    <div :class="[isPrimaryColor?primaryColor:'',boldFont]">D</div>
    <div :class="[{primaryColor: isPrimaryColor}, boldFont]">E</div>
  </div>
  <div id="app20">
    <div :style="{color: primaryColor, fontSize: fontSize}">A</div>
    <div :style="styleObject">B</div>
    <div :style="[styleObject1, styleObject2]">C</div>
    <div :style="[isPrimaryColor?styleObject1:'',styleObject2]">D</div>
  </div>
  <h3>第六章:条件渲染</h3>
  <div id="app21">
    <p v-if="hasTitle">title</p>
    <p v-else-if="hasContent">content</p>
    <p v-else>nothing</p>
  </div>
  <div id="app22">
    <template v-if="loginWay === 'username'">
      <label>userName:</label>
      <input placeholder="enter your username" key="usernameInput">
    </template>
    <template v-else-if="loginWay === 'email'">
      <label>email:</label>
      <input placeholder="enter your email" key="emailInput">
    </template>
    <button @click="changeWay">change login way</button>
  </div>
  <h3>第七章:列表渲染</h3>
  <div id="app23">
    <ol>
      <li v-for="(value,key,index) in obj">
        <p>{{ key }}: {{ value }} - {{ index }}</p>
      </li>
    </ol>
  </div>
  <div id="app24">
    <input
      v-model="inputValue"
      placeholder="Idsanput shopping item."
      @keyup.enter="insertItem">
    <ol>
      <li
        is="list-item"
        v-for="(item,index) in shoppingList"
        :item="item"
        :index="index"
        :key="index"
        @remove="shoppingList.splice(index,1)">
      </li>
    </ol>
  </div>
  <div id="app25">
    <div v-for="item in itemList" :key="item.id">
      <input :placeholder="item.text">
    </div>
    <button @click="popAndShift">change</button>
  </div>
  <div id="app26">
    <label>使用计算属性:</label>
    <ol>
      <li v-for="n in evenNumbers">{{ n }}</li>
    </ol>
    <label>使用方法:</label>
    <ol>
      <li v-for="m in even(numbers)">{{ m }}</li>
    </ol>
  </div>
  <h3>第八章:事件处理</h3>
  <div id="app27">
    <p>点击了 {{ count }} 次</p>
    <button @click="count+=1">count+=1</button>
    <button @click="addCounter">addCounter</button>
    <input v-model="step" placeholder="please input step">
    <button @click="addStep($event)">addStep</button>
  </div>
  <div id="app28">
    <label>点击ctrl+enter使数字+1</label>
    <input v-model="count" @keyup.ctrl.enter="addOne"><br/>
    <label>点击ctrl+f1使数字+1</label>
    <input v-model="count" @keyup.ctrl.f1="addOne">
  </div>
  <h3>第九章:表单控件绑定</h3>
  <div id="app29">
    <h5>文本:</h5>
    <input v-model="textData" placeholder="输入文本">
    <p>输入值为:{{ textData }}</p>
    <h5>多行文本:</h5>
    <textarea v-model="multilineTextData" placeholder="输入多行文本"></textarea>
    <p>输入的多行文本为:{{ multilineTextData }}</p>
    <h5>复选框:</h5>
    <input type="checkbox" id="choice1" v-model="checkboxArr" value="choice1">
    <label for="choice1">choice1</label>
    <input type="checkbox" id="choice2" v-model="checkboxArr" value="choice2">
    <label for="choice2">choice2</label>
    <input type="checkbox" id="choice3" v-model="checkboxArr" value="choice3">
    <label for="choice3">choice3</label>
    <p>选择的值为:{{ checkboxArr }}</p>
    <h5>单选按钮:</h5>
    <input type="radio" id="radioYes" value="yes" v-model="radioboxData">
    <label for="radioYes">Yes</label>
    <input type="radio" id="radioNo" value="no" v-model="radioboxData">
    <label for="radioNo">No</label>
    <input type="radio" id="radioNotSure" value="not sure" v-model="radioboxData">
    <label for="radioNotSure">Not sure</label>
    <p>选择的值为:{{ radioboxData }}</p>
    <h5>选择列表:</h5>
    <select v-model="choiceListResult">
      <option value="" disabled>请选择</option>
      <option>西城</option>
      <option>东城</option>
      <option>朝阳</option>
    </select>
    <p>选择的值为: {{ choiceListResult }}</p>
    <h5>多选列表:</h5>
    <select multiple v-model="multipleListResult">
      <option>西城</option>
      <option>东城</option>
      <option>朝阳</option>
    </select>
    <p>选择的值为:{{ multipleListResult }}</p>
    <h5>循环渲染:</h5>
    <select v-model="loopSelected">
      <option v-for="option in options" :value="option.value">{{ option.title }}</option>
    </select>
    <p>选择为: {{ loopSelected }}</p>
  </div>
  <div id="app30">
    <input v-model.lazy="msgLazy">
    <input v-model.number="msgNumber">
    <input v-model.trim="msgTrim">
    <p>.Lazy结果: {{ msgLazy }}</p>
    <p>.Number结果: {{ msgNumber }}</p>
    <p>.Trim结果: {{ msgTrim }}</p>
  </div>
  <h3>第十章:组件</h3>
  <div id="app31">
    <p>{{ message }}</p>
    <my-component :message="message"></my-component>
    <local-component :message="message"></local-component>
  </div>
  <div id="app32">
    <child :my-message="message"></child>
  </div>
  <div id="app33">
    <my-component></my-component>
    <my-component></my-component>
    <my-component></my-component>
  </div>
  <div id="app34">
    <parent-child :init-count="initCount"></parent-child>
    <parent-child :init-count="initCount"></parent-child>
    <p>app34.initCount={{ initCount }}</p>
  </div>
  <script src="scripts/vue.js" charset="utf-8"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.17.4/lodash.min.js"></script>
  <script src="scripts/index.js" charset="utf-8"></script>
</body>
</html>
